body {
  color: #586E75;
}
h1 {
  color: #586E75;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-align: center;
}
h1 small {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #999999;
}
h2 {
  margin-top: 3em;
  color: #666666;
}
h1 a,
h1 a:visited {
  color: #586e75;
}
h1 sup {
  color: #dddddd;
}
h1 span {
  color: #eeeeee;
  font-weight: normal;
}
h1 span span {
  font-size: 130%;
  position: relative;
  top: 0.05em;
  left: -0.2em;
}
h1 sup {
  font-size: 40%;
  position: relative;
  top: -0.7em;
}
h3, h4, h5, h6, select {
  margin-top: 3em;
  font-size: 80%;
  color: #999999;
}

pre code {
  padding: 0;
}
nav {
  margin: 3em 0;
}
nav a {
  text-align: center;
  background-color: #586E75;
  font-size: 90%;
  color: #fff;
  padding: 0.2em;
}


/* https://github.com/chrisnager/ungrid */
@media (min-width: 30em) {
  .row { width:100%; display:table; table-layout:fixed; }
  .col { display:table-cell; white-space:nowrap; }
  .col.space { border-left:0.5rem solid #fff; }
  .col.space:first-child { border:none; }
}