<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/baseline.css">
        <link rel="stylesheet" type="text/css" href="css/highlight.css">
    	<style>
    		body {padding: 1% 7% 0 7%; color:#586e75}
    		h1 em {color:#DDD; font-style:normal}
            h2 {margin-top:64px}
            ul {margin-bottom:32px}
            footer {margin:40px 0 10px}
    	</style>
        <title>jtmpl&mdash;MVVM Templating Engine for the Browser</title>
    </head>
    <body>
    	<a href="https://github.com/atmin/jtmpl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
        {DOC}
        <footer>
            Copyright &copy; 2013 Atanas Minev, <a href="LICENSE">MIT license</a>
        </footer>
        <script src="js/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>