<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Arrows</title>
    <link rel="stylesheet" href="baseline.css"/>
    <style>
      div {
        margin: 30px;
        background: #ccc;
        width: 180px;
        height: 100px;
        text-align: center;
        line-height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="arrow-top">This has an up arrow</div>
    <div class="arrow-right">This has a right arrow</div>
    <div class="arrow-bottom">This has a down arrow</div>
    <div class="arrow-left">This has a left arrow</div>
  </body>
</html>
