<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8" />
  <head>
    <title></title>
    <link rel="stylesheet" href="baseline.css"/>
    <style>
      .grid12 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .column-fixed div,
      div[class^=column] .name { 
        padding: 10px 0;
        background: #ddd;
        border-radius: 5px;
        text-align: center;
      }
      div[class^=column] div[class^=column] .name {
        background: #bbb;
      }
      #wrapper {
        width: 900px;
        padding: 10px 0;
        margin: 0 auto;
        background: #f0f0f0;
      }

      .btns {
        margin: 0 0 10px 10px;
      }

    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="btns">
        <button class="btn-flat" onclick="fixed()">Fixed Width</button>
        <button class="btn-flat" onclick="fluid()">Fluid</button>
      </div>
      <div class="grid12">
        <div class="column1"><div class="name">1</div></div>
        <div class="column1"><div class="name">2</div></div>
        <div class="column1"><div class="name">3</div></div>
        <div class="column1"><div class="name">4</div></div>
        <div class="column1"><div class="name">5</div></div>
        <div class="column1"><div class="name">6</div></div>
        <div class="column1"><div class="name">7</div></div>
        <div class="column1"><div class="name">8</div></div>
        <div class="column1"><div class="name">9</div></div>
        <div class="column1"><div class="name">10</div></div>
        <div class="column1"><div class="name">11</div></div>
        <div class="column1"><div class="name">12</div></div>
      </div>
      <div class="grid12">
        <div class="column4"><div class="name">4</div></div>
        <div class="column4"><div class="name">4</div></div>
        <div class="column4"><div class="name">4</div></div>
      </div>
      <div class="grid12">
        <div class="column2"><div class="name">2 Columns</div></div>
        <div class="column10">
          <div class="name">
            10 Columns
            <div class="grid12">
              <div class="column6"><div class="name">6 Columns</div></div>
              <div class="column6"><div class="name">6 Columns</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid12">
        <div class="column4 offset2"><div class="name">4 Columns, Offset 2</div></div>
      </div>
      <div class="grid12 grid-fixed">
        <div class="column-fixed">
          <div class="name">Fixed</div>
        </div>
        <div class="column12">
          <div class="name">12 columns</div>
        </div>
      </div>
      <div class="grid12 grid-fixed">
        <div class="column-fixed">
          <div class="name">Fixed</div>
        </div>
        <div class="column4">
          <div class="name">4 columns</div>
        </div>
        <div class="column8">
          <div class="name">8 columns</div>
        </div>
      </div>
      <div class="grid12 grid-fixed-right">
        <div class="column4">
          <div class="name">4 columns</div>
        </div>
        <div class="column8">
          <div class="name">8 columns</div>
        </div>
        <div class="column-fixed">
          <div class="name">Fixed</div>
        </div>
      </div>
    </div>
    <script>
      var fluid = function() {
        document.getElementById('wrapper').style.width="100%";
      };
      var fixed = function() {
        document.getElementById('wrapper').style.width="900px";
      };
    </script>
  </body>
</html>
