<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lists</title>
    <link rel="stylesheet" href="baseline.css"/>
    <style>
      body {
        margin: 20px;
      }
      h2 {
        margin: 20px 0;
      }
    </style>
  </head>
  <body>
    <h2>Default List</h2>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    <h2>Inline List</h2>
    <ul class="list-inline">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
    <h2>Unstyled List</h2>
    <ul class="list-unstyled">
      <li>
        Item 1
        <ul>
          <li>SubItem 1</li>
          <li>SubItem 2</li>
          <li>SubItem 3</li>
        </ul>
      </li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </body>
</html>
