<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Messages</title>
    <link rel="stylesheet" href="baseline.css"/>
    <style>
      div {
        margin: 10px 0;
      }
    </style>
  </head>
  <body>
    <div class="message-error">This is an error message</div>
    <div class="message-warning">This is a warning message</div>
    <div class="message-success">This is a success message</div>
    <div class="message-info">This is an info message</div>
  </body>
</html>
